<%= form_for @pic do |f| %>
  <% if @pic.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@pic.errors.count, "error") %></h2>
      <ul>
        <% @pic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
